.mat-grid-tile {
    background-color: yellow;
}

.header {
    background: silver;
    padding: 7px 0px 7px 60px;
    margin-top: 30px;
    border-radius: 5px;
}

button {
    margin-left: 5px;
    cursor: pointer;
}